body {
  background-color: pink;
  font-family: Arial;
}

.painel {
  background-color: white;
  width: 400px;
  padding: 20px;
}

h1 {
  color: #d63384;
}

button {
  background-color: #d63384;
  color: white;
  border: none;
  padding: 8px;
}

li {
  background-color: #ffe6f0;
  padding: 8px;
}

.feita {
  text-decoration: line-through;
}

